/* HEADER */
header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0.5rem 1.5rem;
  background-color: white;
}

/* HEADER: Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 1rem;
}

/* HEADER: Nav-Bar */
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
}

nav ul li a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  margin: 0 0.7rem;
}
