/* HEADER */
header {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0.5rem 1.5rem;
  background-color: white;
  z-index: 1;
}

/* HEADER: Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 1rem;
  padding: 1rem;
}

.logo img {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* HEADER: Nav-Bar */
nav {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
}

nav ul li a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  margin: 0 0.7rem;
}

nav ul li a:hover,
#menu-btn ul li a {
  text-shadow: 10px 10px 15px var(--primary), 0px -10px 15px var(--secondary),
    -10px 10px 15px var(--tertiary);
  color: var(--primary);
}

#menu-btn ul {
  display: none;
  list-style: none;
  background-color: lightgray;
  padding: 1rem;
  text-align: left;
}

#menu-btn ul li a {
  color: var(--f-color);
  text-decoration: none;
}

.icons i {
  font-size: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  margin-left: 0.4rem;
  margin-right: 3rem;
  line-height: 45px;
  background-color: var(--bg-color);
}

.icons i:hover {
  background-color: var(--highlight);
}

#menu-btn:hover ul {
  display: block;
  position: absolute;
}

@media screen and (min-width: 992px) {
  #menu-btn {
    display: none;
  }
  nav {
    display: block;
  }
}
