@import url(./main.css);
@import url(./header.css);

/* MAIN: Landing IMG */
.landing-img {
  width: 100vw;
  height: 70vh;
  /* background-image: url(/images/placeholder/dummy_1920x1080_ffffff_grey_main-bild.png); */
  background-image: url(/images/placeholder/alpaca-5405469_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* MAIN: The Farm */
.farm div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.farm img {
  width: 500px;
  padding: 1rem;
}

/* MAIN: The Alpacas */
.alpaca p {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

/* container */
.alpacas-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*card*/
.alpaca {
  margin: 1.5rem;
}
.alpaca img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.alpaca p {
  margin: 0.7rem 0 3rem;
}

/* MAIN: Guided Tours */
.tours-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* cards */
.tours-card {
  margin: 1rem 2rem;
  border: 3px solid var(--f-color);
  background-color: var(--bg-color);
  border-radius: 0.3rem;
  min-width: 300px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tours-card p,
.tours-card button,
.tours-card ul {
  margin: 0.7rem 1rem;
}

.tours-card ul li {
  list-style: circle;
  list-style-position: inside;
}

.tours-card button {
  width: 80%;
  padding: 0.7rem;
  background-color: var(--f-color);
  color: var(--bg-color);
  border: none;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.tours-card button:hover {
  color: var(--f-color);
}

/* MAIN: Accomodation */
/* container */
.accomodation-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* card */
.accomodation-card {
  width: 30%;
}

.accomodation-card img,
.accomodation-card p,
.accomodation-card h5 {
  width: 100%;
  margin: 0.7rem 0;
}

.accomodation-card img {
  height: 50%;
  object-fit: cover;
  object-position: center;
}

.accomodation-card h5,
.accomodation h4,
.accomodation button {
  text-align: center;
}

/* wide buttons */
.accomodation button,
.contact-us button {
  width: 30%;
  background-color: var(--f-color);
  color: var(--bg-color);
  display: block;
  margin: 2rem auto;
}

.accomodation a,
.contact-us a {
  text-decoration: none;
}

.accomodation button a:visited,
.contact-us button a:visited {
  color: var(--bg-color);
  text-decoration: none;
}

.accomodation button:hover,
.contact-us button:hover {
  color: var(--f-color);
  cursor: pointer;
}

/* MAIN: The Farm Shop */
.farm-shop-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.farm-shop-card {
  width: 22%;
  margin: 0.3rem;
}

.farm-shop-card img,
.farm-shop-card h5,
.farm-shop-card p {
  width: 100%;
  margin: 0.7rem 0;
}

/* FOOTER */
footer {
  background: var(--f-color);
  color: var(--bg-color);
  margin-top: 3rem;
}

footer p {
  text-align: center;
  padding: 2rem 0;
  font-weight: 900;
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .overflow {
    width: 100%;
    height: 8rem;
    margin: 5rem 0;
  }
}
