@import url(./main.css);
@import url(./header.css);

/* MAIN: Landing IMG */
.landing-img {
  width: 100vw;
  height: 70vh;
  background-image: url(/images/placeholder/dummy_1920x1080_ffffff_grey_main-bild.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Center */
.about,
.farm,
.alpacas,
.tours {
  text-align: center;
}

/* MAIN: The Farm */

.farm div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.farm img {
  width: 500px;
  padding: 1rem;
}

/* MAIN: The Alpacas */
.alpaca p {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

/* container */
.alpacas-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*card*/
.alpaca {
  margin: 1.5rem;
}
.alpaca img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.alpaca p {
  margin: 0.7rem 0 3rem;
}

/* MAIN: Guided Tours */
.tours-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* cards */
.tours-card {
  margin: 1rem 2rem;
  background-color: lightgrey;
  border-radius: 0.3rem;
  min-width: 300px;
  width: 300px;
}

.tours-card p,
.tours-card button,
.tours-card ul {
  margin: 0.7rem 1rem;
}

.tours-card ul li {
  list-style: circle;
  list-style-position: inside;
}

.tours-card button {
  width: 80%;
  padding: 0.7rem;
  background-color: white;
  border: none;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* MAIN: Accomodation */
/* container */
.accomodation-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* card */
.accomodation-card {
  /* border: 2px solid red; */
  width: 30%;
}

.accomodation-card img,
.accomodation-card p,
.accomodation-card h5 {
  width: 100%;
  margin: 0.7rem 0;
}

.accomodation-card img {
  height: 50%;
  object-fit: cover;
  object-position: center;
}

.accomodation-card h5,
.accomodation h4,
.accomodation button {
  text-align: center;
}

.accomodation button {
  width: 30%;
  background-color: lightgray;
  display: block;
  margin: 2rem auto;
}
