* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;

  /* COLORS */
  --f-color: #0c0f0a;
  --primary: #ff206e;
  --secondary: #fbff12;
  --tertiary: #41ead4;
  --bg-color: #fff;
}

main {
  width: 90%;
  margin: 0 auto;
  color: var(--f-color);
  background: var(--bg-color);
}

/* IMG */
img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 5rem 0 0.7rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  text-align: center;
}

h5 {
  font-size: 1rem;
  margin: 1rem 1rem 0.7rem;
  text-align: center;
}

p,
li {
  font-size: 0.8rem;
}

button {
  border: none;
  border-radius: 0.3rem;
  text-transform: uppercase;
  padding: 0.7rem;
  font-weight: 900;
}
button:hover {
  color: var(--f-color);
  background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--secondary) 50%,
    var(--tertiary) 100%
  );
}
