@import url(./main.css);
@import url(./header.css);

main {
  position: relative;
  top: 100px;
  background-color: lightgray;

  form {
    padding: 40px;

    display: flex;
    flex-direction: column;
  }
}
